ul
{
text-align:left;
color:rgb(0, 255, 72);
font-family:Cambria;
font-size:larger;
text-indent:20px;
margin: 10px 0;
}
h2
{
text-align:center;
color:rgb(255, 0, 8);
text-decoration:underline;
text-transform:uppercase;
letter-spacing:-3px;
word-spacing:20px;
font-size:larger;
}